[user]
	name = mroach
	email = mroach@mroach.com
	signingkey = 84BF242B2E152325
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	autocrlf = false
	filemode = false
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
[difftool]
  prompt = false
[push]
    default = simple
    followtags = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[alias]
    l = log --name-status
    lg = log --name-status --graph --decorate
    dc = diff --cached
    pr = pull --rebase
    s = status
    co = checkout
    stash-list = stash list
    fixup = commit --fixup=%f
    amend = commit --amend --no-edit
    push-force = push --force-with-lease
    delete-remote-branch = push origin --delete
    branch-list = branch -vv
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	wsErrorHighlight = all
[commit]
	gpgsign = false
[rebase]
	autosquash = true
[log]
	date = auto:human
