[user]
    name = mroach
    email = git@c.mroach.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    autocrlf = false
    filemode = false
    excludesfile = ~/.gitignore.global
    editor = /usr/bin/vim
	  pager = delta
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[difftool]
    prompt = false
[push]
    default = simple
    followtags = true
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[alias]
    l = log --name-status
    lg = log --name-status --graph --decorate
    dc = diff --cached
    pr = pull --rebase
    s = status
    sc = clone --depth=1
    co = checkout
    stash-list = stash list
    fixup = commit --fixup=%f
    amend = commit --amend --no-edit
    push-force = push --force-with-lease
    delete-remote-branch = push origin --delete
    branch-list = branch -vv
    p = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    regexadd = "!f() { git diff -U0 | grepdiff -E $1 --output-matching=hunk | git apply --cached --unidiff-zero; }; f"
    padd = "!f() { git add -N $1 && git add -p $1; }; f"
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[diff]
    wsErrorHighlight = all
[commit]
    gpgsign = false
[rebase]
    autosquash = true
[log]
    date = auto:human
[pull]
    rebase = true
[include]
    path = ~/.gitconfig.local
    path = ~/.config/delta/themes.gitconfig
[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    side-by-side = false
    line-numbers = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-added-label = [+]
    file-copied-label = [C]
    file-decoration-style = none
    file-modified-label = [M]
    file-removed-label = [-]
    file-renamed-label = [R]
    file-style = 232 bold 184
    hunk-header-decoration-style = yellow box
[init]
  	defaultBranch = master
